<% provide :page_title, t('menu.questions') %>

<% currently_at(t('menu.questions')) %>

<h1><%= t('.title') %></h1>

<%= link_to t('global.button.new_question'), new_question_path, class: "btn btn-primary"  %>
<hr>

<%== pagy_bootstrap_nav(@pagy) %>

  <%= render @questions %>

<%== pagy_bootstrap_nav(@pagy) %>