<% provide :page_title, t('.title') %>

<% currently_at(t('menu.questions')) %>

<div class='m-3'>

  <div class="mb-4">
    <h1><%= @question.title %></h1>
  </div>

  <div class="my-2">
    <time datatime="<% @question.formatted_created_at %>">
      <%= @question.formatted_created_at %>
    </time>
  </div>

  <div class="my-2">
    <%= sanitize(@question.body) %>
  </div>

  <%= link_to t('global.button.edit'), edit_question_path(@question), class: "btn btn-primary"  %>
  <%= link_to t('global.button.destroy'), question_path(@question), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger"  %>

  <hr>

  <h2><%= t('.write_answer') %></h2>

  <%= render 'answers/form' %>

  <h2 class="mt-5"><%= t('.answers') %> :</h2>

  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

    <%= render partial: 'answers/answer', collection: @answers, as: :answer, locals: {question: @question} %>

  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

</div>


