<% provide :page_title, 'Show question' %>

<% currently_at('Questions') %>

<div class='m-3'>

  <div class="mb-4">
    <h1><%= @question.title %></h1>
  </div>

  <div class="my-2">
    <time datatime="<% @question.formatted_created_at %>">
      <%= @question.formatted_created_at %>
    </time>
  </div>

  <div class="my-2">
    <%= sanitize(@question.body) %>
  </div>

  <%= link_to 'Edit', edit_question_path(@question), class: "btn btn-primary"  %>
  <%= link_to 'Delete', question_path(@question), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger"  %>

  <hr>

  <h2>Write yur arswers</h2>

  <%= render 'answers/form' %>

  <h2 class="mt-5">Answers :</h2>

  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

    <%= render partial: 'answers/answer', collection: @answers, as: :answer, locals: {question: @question} %>

  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

</div>


