<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>

    <script>
    // код до урока 23, 15 минута
      // document.addEventListener('turbo:load', function() {
      //   var settings = {
      //     plugins: {
      //       'remove_button': {},
      //       'no_backspace_delete': {}
      //     }
      //   };
      //   var collection_select = new TomSelect('.js-multiple-select', settings);
      // });

      let selects = []

      document.addEventListener("turbo:before-cache", function() {
        selects.forEach((select) => {
          select.destroy()
        })
      })

      const rerender = function() {
            var settings = {
                plugins: {
                  'remove_button': {},
                  'no_backspace_delete': {}
                }
              };
              var collection_select = new TomSelect('.js-multiple-select', settings);
            };

      document.addEventListener("turbo:load", rerender)
      document.addEventListener("turbo:frame-render", rerender)
      document.addEventListener("turbo:render", rerender)
    </script>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= yield(:main_menu) %>

    <main class="container mt-3">
      <div id='flash'>
        <%= render 'shared/flash' %>
      </div>
      
      <%= yield %>
    </main>
  </body>
</html>
